

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.left-home {
   float: left;
   text-align: center;
}
.left-home img {
   margin-top: 10px;
}

.right-home {
   float: left;
   margin-left: 60px;
}

h1.jiraia-title {
   font-weight: bold;
   text-align: center;
}














